.field_with_errors {
  display: contents;
}

h1 {
  font-family: 'Hiragino Kaku Gothic StdN';
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* ------charters_image----- */
.charter-image {
  position: relative;
}
.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
}
.title_message_1, .title_message_2, .main_message1, .main_message2, .main_message3 {
  position: absolute;
  font-family: 'Hiragino Kaku Gothic StdN';
  color: #FFF;  
}
.title_message_1, .title_message_2 {
  font-size: 50px;
}

.title_message_1 {
  top: 40px;
  left: 40px;
}
.title_message_2 {
  top: 90px;
  left: 170px;
}
.main_message1, .main_message2, .main_message3 {
  font-size: 30px;
  width: 540px;
  height: 500px;
}
.main_message1 {
  top: 200px;
  left: 70px;
}
.main_message2 {
  top: 375px;
  left: 70px;
}
.main_message3 {
  top: 450px;
  left: 70px;
}

/* ------charters_bar------ */
.charter_bar {
  width: 100vw;
}
.charter_header {
  height: 100px;
  font-size: 40px;
  font-family: 'Hiragino Kaku Gothic StdN';
  color: #fff;
  background-color: #B22222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charter_main {
  height: 700px;
  overflow: scroll;
}

.charter_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
  font-size: 20px;
}
.charter_list {
  width: 400px;
  padding: 20px;
  margin: 20px;
  position: relative;
}
.charter-box, .charter-user {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.charter-box:hover {
  background-color: #FA8072;
}
.charter-user:hover {
  color: aqua;
}
.charter-box {
  padding: 20px;
  border: 1px solid #FA8072;
}

.charter-name, a{
  color: black;
  text-decoration: none;
}
.charter-number, .charter-user {
  font-size: 11px;
  font-size: 15px;
  font-family: sans-serif;
}
.charter-name {
  font-family: 'Hiragino Kaku Gothic StdN';
}
.charter-user {
  position: absolute;
  right: 20px;
}
.charter-notice {
  margin: 20px;
  font-size: 30px;
  color: black;
  font-family: 'hiragino kaku gothic stdn';
}

/* ------charter/new-edit------- */
.charter-new-form {
  width: 980px;
  height: calc(100vh - 20vh);
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: scroll;
}

.charter-new-form__errors {
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.charter-new-form__label {
  display: block;
  line-height: 50px;
  font-weight: bold;
  text-align: right;
}
.charter-new-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.charter-new-form__action-btn {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.charter-new-form__field {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.charter-new-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.charter-new-form__field--left {
  float: left;
  width: 300px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
.charter-new-form__field--right {
  float: left;
  width: 400px;
}
.charter-new-form__label_hash {
  float: right;
  line-height: 50px;
  font-weight: bold;
}
.select-box {
  height: 50px;
  width: 400px;
}
.chat-room-form__action-btn {
  font-family: "Hiragino Kaku Gothic StdN";
  color: white;
  background-color: lightskyblue;
  border: 3px double white;
  padding: 0 20px;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.chat-room-form__action-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

/* -----charters/show---------- */
.charter_show_header {
  height: 100px;
  font-size: 40px;
  font-family: 'Hiragino Kaku Gothic StdN';
  color: #fff;
  background-color: #B22222;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}
.charter_show {
  height: calc(100vh - 100px - 20vh);
  display: flex;
  justify-content: space-around;
}

.charter-show-left {
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 60px;
}
.charter-details {
  width: 500px;
}
.charter-departure-arrive ,.charter-buy-price, .charter-address, .charter-size {
  padding: 10px;
  margin: 10px;
}
.show-name, .charter-value {
  font-family: 'Hiragino Kaku Gothic StdN';
}
.charter-value {
  font-size: 20px;
}
.show-name {
  font-size: 15px;
}
.charter-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.charter-edit-btn, .charter-delete-btn {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 20px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} 
.charter-edit-btn a, .charter-delete-btn a {
  color: white;
}
.charter-edit-btn:hover, .charter-delete-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}
/* ----------------------- */
.charter-show-center {
  width: 33%;
  height: 100%;
  padding: 60px;
  align-items: center;
}
.charter-map {
  /* border: 1px solid red; */
  width: 100%;
  height: 300px;
}
/* ------------------------- */
.charter-show-right {
  width: 33%;
  height: 100%;
  padding: 20px;
  position: relative;
}
.charter-show-right-upper {
  position: absolute;
  top: 100px;
  left: 100px;
}
.now-price {
  font-size: 20px;
}
.price-list {
  font-size: 40px;
  font-family: "Hiragino Kaku Gothic StdN";
}
.price-action {
  padding: 10px 0;
}
.price-action-btn {
  color: white;
  width: 100px;
  text-align: center;
  padding: 10px 30px;
  margin: 20px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-action-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}
.charter-show-right-lower {
  position: absolute;
  top: 300px;
  left: 60px;
}
.price-form {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price-input {
  text-align: center;
  font-size: 20px;
  padding: 0 20px;  
  margin: 0 30px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}
.price-submit {
  color: white;
  width: 100px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-submit:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}