.field_with_errors {
  display: contents;
}

h1 {
  font-family: 'Hiragino Kaku Gothic StdN';
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

/* ------charters_image----- */
.charter-image {
  position: relative;
}
.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
  opacity: 0.8;
}

.top-messages {
  position: absolute;
  top: 10px;
  left: 20px;
  width: 50%;
}
.top-title {
  margin: 20px;
}
.top-contents {
  margin: 10px;
}
.title_message_1, .title_message_2, .main_message1, .main_message3 {
  font-family: 'Hiragino Kaku Gothic StdN';
  color: #FFF;  
}
.title_message_1, .title_message_2 {
  font-size: 3vw;
}
.main_message1, .main_message3 {
  font-size: 2vw;
}
.scroll-btn {
  width: 100px;
  height: 100px;
  text-align: center;
  position: absolute;
  background-color: #fff;
  border: 1px solid blue;
  border-radius: 50%;
  right: 10%;
  top: 5%;
  font-size: 15px;
  padding: 25px 0;
  opacity: 0.5;
}

@media (max-width: 1000px){
  .top-title {
    margin: 15px;
  }
  .top-contents {
    margin: 8px;
  }
  .title_message_1, .title_message_2, .main_message1, .main_message3 {
    font-family: 'Hiragino Kaku Gothic StdN';
    color: #FFF;  
  }
}

@media (max-width: 500px){
  .top-title {
    margin: 10px;
  }
  .top-contents {
    margin: 5px;
  }
}

/* ------charters_bar------ */
.charter_bar {
  width: 100vw;
}
.charter_header {
  height: 100px;
  color: #fff;
  background-color: #B22222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.charter_header_name {
  font-size: 40px;
  font-family: 'Hiragino Kaku Gothic StdN';
  margin: 0 40px;
}
.search-form {
  display: flex;
  align-items: center;
  margin: 0 60px;
}
.search-input {
  display: block;
  font-size: 20px;
  margin-right: 20px;
  padding: 0 5px;
}
.search-btn {
  font-size: 15px;
  display: inline-block;
  padding: 0 10px;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}

.search-btn:active {  
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.charter_main {
  height: 700px;
  overflow: scroll;
}
.charter_lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 20px;
  font-size: 20px;
}
.charter_list {
  width: 400px;
  padding: 20px;
  margin: 20px;
  position: relative;
}
.charter-box, .charter-user {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.charter-box:hover {
  background-color: #FA8072;
}
.charter-user:hover {
  color: aqua;
}
.charter-box {
  padding: 20px;
  border: 1px solid #FA8072;
}
.charter-name, a{
  color: black;
  text-decoration: none;
}
.charter-number, .charter-user {
  font-size: 11px;
  font-size: 15px;
  font-family: sans-serif;
}
.charter-name {
  font-family: 'Hiragino Kaku Gothic StdN';
}
.charter-user {
  position: absolute;
  right: 20px;
}
.charter-notice {
  margin: 20px;
  font-size: 30px;
  color: black;
  font-family: 'hiragino kaku gothic stdn';
}

/* ---------------------------------------------------------- */
@media (max-width: 1000px) {
  .charter_header_name {
    font-size: 23px;
    font-family: 'Hiragino Kaku Gothic StdN';
    margin: 0 20px;
  }
  .search-form {
    display: flex;
    align-items: center;
  }
  .search-input {
    display: block;
    font-size: 13px;
    margin-right: 30px;
    padding: 0 5px;
  }
  .search-btn {
    font-size: 13px;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
}

/* ----------------------------------------------------------- */
@media (max-width: 500px) {
  .charter_header_name {
    font-size: 17px;
    font-family: 'Hiragino Kaku Gothic StdN';
    margin: 0 10px;
  }
  .search-form {
    display: flex;
    align-items: center;
    margin: 0 15px;
  }
  .search-input {
    display: block;
    font-size: 13px;
    margin-right: 20px;
    padding: 0 5px;
  }
  .search-btn {
    font-size: 7px;
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
}
/* ------charter/new-edit------- */
.charter-new-form {
  width: 75%;
  height: calc(100vh - 20vh);
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: scroll;
}

.charter-new-form__errors {
  margin: 20px 0;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
}
.charter-new-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.charter-new-detail, .charter-new-address {
  width: 50%;
}

.charter-new-form__label {
  display: block;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}
.charter-new-form__input {
  float: left;
  width: 100%;
  line-height: 30px;
  padding: 5px 10px;
  box-sizing: border-box;
}
.charter-new-form__action-btn {
  display: inline-block;
  padding: 6px 20px;
  color: #fff;
  background-color: #38aef0;
  border: 0;
}
.charter-new-form__field {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.charter-new-form__field:after {
  content: "";
  clear: both;
  display: block;
}
.charter-new-form__field--left {
  width: 75%;
  padding-right: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}
.charter-new-form__field--right {
  float: left;
  width: 100%;
}
.charter-new-form__label_hash {
  float: right;
  line-height: 30px;
  font-weight: bold;
}
.charter-form__action-btn {
  font-family: "Hiragino Kaku Gothic StdN";
  color: white;
  background-color: lightskyblue;
  border: 3px double white;
  padding: 0 20px;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.charter-form__action-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

@media (max-width: 1000px) {
  .charter-new-wrapper {
    display: flex;
    flex-direction: column;
  }
  
}

/* -----charters/show---------- */
#mask {
  background: rgb(0, 0, 0);
  position: fixed;
  opacity: 0.4;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
#mask.hidden {
  display: none;
}


.charter_show_header {
  height: 100px;
  color: #fff;
  background-color: #B22222;
  display: flex;
  align-items: center;
}
.charter_show_title {
  padding-left: 40px;
  font-size: 2.7em;
  font-family: 'Hiragino Kaku Gothic StdN';
}
.charter_show {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: left;
  overflow: scroll;
}
.left-content {
  width: calc((100%-40px)/3);
}
.left-content, .center-content {
  font-family: 'hiragino kaku gothic stdn';
}
.charter-detail {
  margin: 20px;
}
.show-name {
  font-size: 20px;
}
.charter-value {
  font-size: 30px;
}
.charter-action {
  display: flex;
  justify-content: space-around;
}
.charter-edit-btn, .charter-delete-btn {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 20px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} 
.charter-edit-btn a, .charter-delete-btn a {
  color: white;
}
.charter-edit-btn:hover, .charter-delete-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

.center-content {
  text-align: center;
  width: 25%;
}


.now-price, .price-row, .price-action {
  margin-top: 20px;
  font-size: 20px;
}
.price-list {
  font-size: 30px;
  color: red;
}
.price-form {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price-input {
  text-align: center;
  font-size: 20px;
  padding: 0 20px;  
  margin: 40px 30px 0 30px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}
.price-submit {
  color: white;
  width: 100px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-submit:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}
.price-action-btn {
  color: white;
  width: 50px;
  text-align: center;
  padding: 10px 30px;
  margin: 10px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-action-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

.right-content {
  width: 30vw;
}
.charter-map {
  height: 400px;
  width: 100%;
  margin-left: 60px;
}
#modal {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.4s;
  z-index: 2;
}
#modal.hidden {
  transform: translate(0, -500px);
}
#bid {
  margin-top: 50px;
}
#bid:hover {
  cursor: pointer;
}



@media (max-width: 1024px) {
  .charter_show {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .left-content, .right-content, .center-content {
    width: 100%;
  }
}