.charter_show_header {
  height: 100px;
  color: #fff;
  background-color: #B22222;
  display: flex;
  align-items: center;
}
.charter_show_title {
  padding-left: 40px;
  font-size: 2.7em;
  font-family: 'Hiragino Kaku Gothic StdN';
}
.charter_show {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: left;
  overflow: scroll;
}
.left-content {
  width: calc((100%-40px)/3);
}
.left-content, .center-content {
  font-family: 'hiragino kaku gothic stdn';
}
.charter-detail {
  margin: 20px;
}
.show-name {
  font-size: 20px;
}
.charter-value {
  font-size: 30px;
}
.charter-action {
  display: flex;
  justify-content: space-around;
}
.charter-edit-btn, .charter-delete-btn {
  width: 150px;
  text-align: center;
  padding: 10px 0;
  margin: 20px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
} 
.charter-edit-btn a, .charter-delete-btn a {
  color: white;
}
.charter-edit-btn:hover, .charter-delete-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

.center-content {
  text-align: center;
  width: 25%;
}


.now-price, .price-row, .price-action {
  margin-top: 20px;
  font-size: 20px;
}
.price-list {
  font-size: 30px;
  color: red;
}
.price-form {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.price-input {
  text-align: center;
  font-size: 20px;
  padding: 0 20px;  
  margin: 40px 30px 0 30px;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}
.price-submit {
  color: white;
  width: 100px;
  text-align: center;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 30px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-submit:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}
.price-action-btn {
  color: white;
  width: 50px;
  text-align: center;
  padding: 10px 30px;
  margin: 10px;
  font-family: "Hiragino Kaku Gothic StdN";
  background-color: lightskyblue;
  border: 3px double white;
  height: 50px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.price-action-btn:hover {
  color: white;
  background-color: red;
  border: 3px double white;
}

.right-content {
  width: 30vw;
}
.charter-map {
  height: 400px;
  width: 100%;
  margin-left: 60px;
}



@media (max-width: 1024px) {
  .charter_show {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  .left-content, .right-content, .center-content {
    width: 100%;
  }
}