* {
  box-sizing: border-box;
}
footer {
  height: 40px;
  background-color: lightgreen;
}
.copy-light {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-family: 'Bangers', cursive;
}