<div class='charter-image'>
  <%= image_tag 'load.jpg', class:'image'%>
  <div class='title_message_1'>チャーター便を</div>
  <div class='title_message_2'>お求めやすく</div>
  <div class='main_message1'>
  引越しや大きい荷物を目的地に運ぶ際
  思っていたよりも値段が合わない場合がありませんか？
  </div>
  <div class='main_message2'>
  といっても相見積もりも面倒です
  </div>
  <div class='main_message3'>私たちがオークションでこれらの課題を解決します</div>
</div>
