  <div class='charter_bar'>
    <div class="charter_header">
    チャーター便一覧
    </div>
    <div class="charter_main">
      <div class="charter_lists">
        <div class='charter-name'>
          <a href='#'>東京都新宿区→大阪府大阪市</a>
        </div>
      </div>
    </div>
  </div>
