<div class='charter-image'>
  <%= image_tag 'load.jpg', class:'image'%>
  <div class='top-messages'>
    <div class='top-title'>
      <div class='title_message_1'>チャーター便を</div>
      <div class='title_message_2'>お求めやすく</div>
    </div>
    <div class='top-contents'>
      <div class='main_message1'><p>引越しや大きい荷物を目的地に運ぶ際</p>思っていたよりも値段が合わない場合が<p>ありませんか？</p></div>
      <div class='main_message1'>といっても相見積もりも面倒です</div>
      <div class='main_message1'>私たちがオークションでこれらの課題を解決します</div>
    </div>
  </div>
  <div class='scroll-btn'>
  <a href="#1"><p>チャーター</p><p>一覧へ</p></a>
  </div>
</div>
