<div id="2" class='charter-message'>
  <div class='top-contents'>
    <div class='main_message1'><p>引越しや大きい荷物を目的地に運ぶ際思っていたよりも値段が合わない場合がありませんか？</div>
    <div class='main_message1'>私たちがオークションでこれらの課題を解決します</div>
  </div>
</div>