  <div class='charter_bar'>
    <div class="charter_header">
    チャーター便一覧
    </div>
    <div class="charter_main">
      <div class="charter_lists">
        <% @charters.each do |charter| %>
          <div class='charter-name'>
            <a href='#'><%= "#{charter.departure}→#{charter.arrive}" %></a>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
