<div class='charter-image'>
  <%= image_tag 'load.jpg', class:'image'%>
  <div class='top-messages'>
    <div class='top-title'>
      <div class='title_message_1'>チャーター便を</div>
      <div class='title_message_2'>お求めやすく</div>
    </div>
  </div>
  <div class='scroll-btn'>
  <a href="#1"><p>チャーター</p><p>検索へ</p></a>
  </div>
</div>
