<div class='charter-image'>
  <%= image_tag '1493950_l.jpg', class:'image'%>
  <div class='main-title'>Charter Trader</div>
  <div class='top-messages'>
    <div class='title_message_1'>チャーター便を</div>
    <div class='title_message_1'>お求めやすく</div>
  </div>
  <div class='buttons'>
    <div class='button scroll-btn'>
      <a href="#1">チャーター検索へ</a>
    </div>
    <div class='button order-btn'>
      <%= link_to 'チャーターをご要望の方', new_charter_path %>
    </div>
    <div class='button scroll-btn_2'>
      <a href="#2">Charter Traderとは</a>
    </div>
  </div>
</div>