  <div class='charter_bar'>
    <div class="charter_header">
      <div class="charter_header_name">チャーター便一覧</div>
    </div>
    <div class="charter_main">
      <div class="charter_lists">
        <% @charters.each do |charter| %>
          <% if charter.purchase == nil%>
          <div class="charter_list">
            <div class='charter-box'>
              <div class='charter-number'>
                <%= "チャーター番号:#{charter.id}"%>
              </div>
              <%= link_to "#{charter.departure}→#{charter.arrive}", charter_path(charter), class:"charter-name"%>
            </div>
            <div class='charter-user'>
              <%= link_to "発注者:#{charter.user.username}さん", user_path(charter.user)%>
            </div>
          </div>
          <% end %>
        <% end %> 
      </div>
    </div>
  </div>