<div class='price_bar'>
    <div class="price_header">
    </div>
    <div class="price_main">
      <div class="price_lists">
        <div class="price">
        </div>
      </div>
    </div>
    <div class="price_post">
    </div>
</div>